@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #1D2939;
  /* Contentoo Dark Navy */
  --primary: #00543eff;
  /* Contentoo Green Corrected */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #0a0a0a;
  }
}